body{
  background-color: bisque;
  text-align: center;
  background-image: url(../img/wood-bckgrnd.jpg);
}

.table-sect{
  font-size: 32px;
}

.actual-members{
  font-size: 32px;
}

img{
  border-radius: 50%;
  width: 200px;
}

h2{
  font-size: 40px;
}

h3{
  font-size: 24px;
}